<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:sport.properties"/>
    <!-- Define your beans here -->

    <!-- add entry to enable component scanning -->

    <context:component-scan base-package="com.java.springdemo"/>
    <!--    define bean for dependency -->

    <bean id="myFortune" class="com.java.springdemo.HappyFortuneService">
    </bean>

    <bean id="myCoach" class="com.java.springdemo.BaseballCoach">
        <!--  set up constructor injection -->
        <constructor-arg ref="myFortune"/>
        <property name="coachName" value="${coach1.coachName}"/>
    </bean>

    <!--    New bean is created for each request with prototype scope
            scope="prototype" -->
    <bean id="trackCoach" class="com.java.springdemo.TrackCoach"
          init-method="doMyInitialStartStuff" destroy-method="doMyDestroyStuff">
        <constructor-arg ref="myFortune"/>
        <property name="email" value="${coach1.email}"/>
        <property name="team" value="${coach1.team}"/>
        <property name="coachName" value="${coach1.coachName}"/>
    </bean>

    <bean id="footballCoach" class="com.java.springdemo.FootballCoach">
        <!--        set up setter injection -->
        <property name="fortuneService" ref="myFortune"/>
        <property name="email" value="${coach2.email}"/>
        <property name="team" value="${coach2.team}"/>
        <property name="coachName" value="${coach2.coachName}"/>
    </bean>

</beans>

